<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
    <%- include('partials/header'); %>
    <form class="container" method="post" action="/create">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            id="name"
            class="form-control"
            name="name"
            type="text"
            value="<%= name %>"
          >
        </div>  

    <%- include('partials/footer'); %>
</body>
</html>
